  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 2vw;
    width: 80%;
    
    margin-bottom: 20px;
  }
  
  .category {
    height:fit-content;
    outline: 1% solid #c8c8c8 !important;
    border-radius: 8px;

    padding: 0.7em 1em;
    margin: 1.5vw 0;
    
    font-family:"Andika";
    font-size: 18px;
    color:#000000;

    background-color:#FFF !important;
    font-weight:600 !important;
    cursor: pointer;
  }
  
  .category:hover {
    box-shadow: 0 4px 6px rgba(82, 126, 165, 0.15);
    transform: scale(1.05);
  }



  
  a{
    text-decoration: none !important;
  }

  .book-cards {
    display: flex;
    align-items: center;
    gap: 3%;
    overflow-x: auto !important;
    scroll-behavior: smooth !important;
    width: 80%;
    padding:10px;
    margin: 1vw 0;
  }

  .card{
    height: 18em !important;
    box-shadow: 0 2px 5px rgba(72, 99, 122, 0.1) !important;
    transition: ease;
  }

  .card:hover{
    transform: scale(1.035) !important;
  }

  .card img{
    height:50% !important;
    width:auto;
    align-self: center !important;
    border-radius:0 !important;
    margin-top: 13px !important;
    object-fit:cover;
  }

  .card-text {
    margin-bottom:0em !important;
  }
  
  .author {
    font-family:"Inter";
    font-size: 0.6em;
    color: #707070;
  }
  
  .book-title {
    font-family:"Inter";
    font-size: 0.72em;
    font-weight:700;
  }

  .price {
    font-family:"Inter";
    font-size: 0.8em;
    color: #00337b;
    font-weight:750;
  }