* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(https://e1.pxfuel.com/desktop-wallpaper/1017/955/desktop-wallpaper-blue-sky-on-dog.jpg) no-repeat;
    background-size:cover;
}

.cont{
    top:0;
    bottom:0;
    width: 22ssem;
    color: #fff;
    margin: 20% 0;
    padding: 2em 2.5em;
    border-radius: 12px;
    background:linear-gradient(90deg, #76dfff,#56bbff);
    
    box-shadow:0 2px 5px rgba(72, 99, 122, 0.1) !important;
    cursor:default;
}

.cont h2{
    font-size:1.4em;
    font-family:"ADLaM Display" !important;
    text-align: center;
    margin-top:3%;
}

.cont h1{
    font-size: 2em;
    text-align: center;
}

.cont .input-box {
    position: relative;
    width: 100%;
    height: 3em;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: white;
    padding: 5% 17% 5% 7%;

    border: none;
    outline: none;
    border-radius: 20px;
    
    font-size: 0.8em;
    color: #888;
    cursor: pointer;
}

.input-box input ::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.cont .remember-me{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    margin: -15px 0 15px;
    padding: 1.5% 0 3% 0;
}

.remember-me label input {
    accent-color: #fff;
    margin-right: 3px;
    cursor:pointer;
}

.remember-me label {
    cursor:pointer;
}

.remember-me a {
    color: #fff;
    text-decoration: none;
}

.cont .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 40px;
    border: none;
    outline: none;

    color: #2956b7;
    font-size: 16px;
    font-weight: 600;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
}    

.cont .btn:hover {
    transform: scale(1.02);
}

.cont .register {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
    cursor:default;
}

.register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.register p a:hover{
    text-decoration: underline;
}