* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(https://e1.pxfuel.com/desktop-wallpaper/1017/955/desktop-wallpaper-blue-sky-on-dog.jpg) no-repeat;
    background-size:cover;
}

.cont {
    top:0;
    bottom:0;
    width: 22em;
    color: #fff;
    margin: 20% 0;
    padding: 2em 2.5em;
    border-radius: 12px;
    background:linear-gradient(90deg, #76dfff,#56bbff);
    
    box-shadow:0 2px 5px rgba(72, 99, 122, 0.1) !important;
    cursor:default;
}

.cont h2{
    font-size:1.4em;
    font-family:"ADLaM Display" !important;
    text-align: center;
    margin-top:3%;
}

.cont h1{
    font-size: 2em;
    text-align: center;
}

.cont .input-box {
    position: relative;
    width: 100%;
    height: 3em;
    margin: 35px 0;
}

.input-box label {
    font-size: 0.9em;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: white;
    padding: 5% 17% 5% 7%;

    border: none;
    outline: none;
    border-radius: 20px;
    
    font-size: 0.8em;
    color: #888;
    cursor: pointer;
}

.input-box input ::placeholder{
    color: #fff;
}

.error-message {
    color: rgb(13, 0, 255);
    font-size: 14px;
    font-weight: bold;
    font-style:italic;
    margin: 5% 0;
}


.cont .btn {
    width: 100%;
    height: 45px;
    background:linear-gradient(90deg, #2a65e3, #0846cd);
    border-radius: 40px;
    border: none;
    outline: none;
    margin: 8% 0 0 0;

    color:white;
    font-size: 16px;
    font-weight: 600;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
}    

.cont .btn:hover {
    transform: scale(1.02);
}